<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>
<body>

  <li><a href="/first_aid">First Aid Kit</a></li>
  <li><a href="/traumas">Traumas List</a></li>

<h1>On Site</h1>

<form action="/posts" method='POST'>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <b>Title</b>  <input type="text" name="title">
  <b>Content</b> <input type="text" name="content">
  <input type="submit">
</form>

<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.content %><br>
      Submitted <%= time_ago_in_words(post.created_at) %>
    </p><br>

  <%= link_to like_path(post), method: :put do %>
    Upvote
    <%= post.get_upvotes.size %>
  <% end %><br>

  <%= link_to dislike_path(post), method: :put do %>
    Downvote
    <%= post.get_downvotes.size %>
  <% end %>

<% end %>


</body>
</html>
